<div class="wrapper">

  <div class="login-container">
    <div class="login">

      <div class="login-head">
        <div class="login-info">
          <h1>Search.IT</h1>
          <div>¡Bienvenido!</div>
          <div>Iniciar Sesión</div>
        </div>
      </div>

      <div class="login-body">
        <form [formGroup]="loginform" (ngSubmit)="onSubmit()">

          <div class="mb-3">
            <label for="username" class="form-label">Usuario / Email</label>
            <input formControlName="username" class="form-control" type="text" name="username"
              placeholder="Nombre de usuario" required="true">
            <div class="invalid-feedback" id="validationServerUsernameFeedback">
              Usuario Obligatorio
            </div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input formControlName="password" class="form-control" name="password" type="password"
              placeholder="Contraseña" required="true">
            <div class="invalid-feedback" id="validationServerUsernameFeedback">
              Contraseña Obligatoria
            </div>
          </div>

          <button class="login-btn ripple">Iniciar Sesión</button>

        </form>

      </div>

    </div>
  </div>
</div>
