@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;900&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";

$primaryFont: 'Open Sans', sans-serif;

$primaryColor: #263238;
$secondaryColor: #f8008d;

$whiteColor: #fff;
$whiteColorVariation-1: #f4f7fa;
$whiteColorVariation-2: #f3f3f9;
$whiteColorVariation-3: #eff2f3;
$whiteColorVariation-4: #ced4da;

$blackColor: #000;

$grayColor: #74788d;
$grayColorVariation-1: #495057;
$grayColorVariation-2: #455a64;
$grayColorVariation-3: #bec2c4;

$blueColor: #699dfa;
$blueColorVariation-1: #0099ff;
$blueColorVariation-2: #88d9ff;
$blueColorVariation-3: #00f7ff;

$greenColor: #2cd131ea;
$greenColorVariation-1: #007e04;
$greenColorVariation-2: #00ff55ea;
$greenColorVariation-3: #79ff7dea;

$redColor: #c71e1e;
$redColorVariation-1: #f62323;